:root {
    /* Color */
    --clr-primary-med: #0074B7;
    --clr-primary-dark: #003B73;
    --clr-primary-light: #BFD7ED;
    /* Font Sizes */
    --fs-med: 1.5rem;
    --fs-big: 2rem;
    --fs-sm: 1rem;
    /* MISC */
    --header-h: 100px;
}

body {
    max-width: 100vw !important;
}

.sp-b {
    justify-content: space-between;
    align-items: center;
}

p {
    margin: 0;
}

body {
    background-color: black;
}

header {
    height: var(--header-h);
    color: var(--clr-primary-light);
}

.series-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.series-card {
    width: 300px;
    min-height: 450px;
    border-radius: .5rem;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .25s ease-out;
    cursor: pointer;
}

.series-card:hover {
    transform: scale(1.05);
}

.series-card img {
    width: 100%;
}

.series-card-data {
    background-color: rgba(245, 245, 245, 0.9);
    height: 100%;
    width: 100%;
    /* visibility: hidden; */
    /* display: none; */
    transition: all .75s ease;
    opacity: 0%;
    color: black;
    font-size: var(--fs-big);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    border: 3px solid var(--clr-primary-light);
}

.card-title {
    width: 100%;
    text-align: center;
}

.fadeIn {
    transition: all .75s ease;
    opacity: 100%;
}

.display-img {
    height: calc(100vh - var(--header-h));
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(10px);
    color: white;
    position: relative;
}

.display-wrapper {
    position: absolute;
    color: white;
    top: calc(var(--header-h) + 5rem);
    left: 0;
    background-color: rgba(0, 0, 0, 0.753);
    padding: 1.5rem;
    margin: 0rem 3rem;
    /* max-width : 90% */
}


.horizontal {
    display: flex;
    flex-direction: row;
}

.block {
    display: block;
}

.lgt-blue {
    color: var(--clr-primary-light);
}

.display-top {
    display: flex;
    justify-content: space-between;
}

.display-top img {
    height: 500px;
}

.mid-title {
    font-size: var(--fs-big);
    margin: 2rem 0;
    /* color : var(--clr-primary-med); */
}

.vod-logo {
    height: 125px;
    cursor: pointer;
    transition: all .2s ease;
}

.vod-logo:hover {
    transform: scale(1.05);
}

.vod-container {
    display: flex;
    gap: 2rem;
}

.episode-list {
    width: 100%;
    max-width: 100%;
}

.episode-card {
    width: 230px;
    min-height: 120px;
    transition : all .25s ease; 
    padding : .5rem; 
    border : 1px solid transparent; 
    cursor : pointer; 
}

.episode-card:hover {
    border : 1px solid var(--clr-primary-med);
}

.episode-card img{
    width : 100%;
}

.dropper {
    transition: all 2s ease;
    opacity: 0%;
    display : flex; 
    flex-wrap: wrap;
    gap : 1rem; 
}

.dropper-visible {
    opacity: 100%;
}

.txt-sm{
    font-size: var(--fs-sm);
    color :#0074B7;
}

.episode-seen{
    filter : grayscale(0.9)
}
/* 
.episode-seen:hover{
    filter: none;
} */